@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --container-center: true;

  --color-eggplant-50: #b7b7c9;
  --color-eggplant-100: #8b8ca8;
  --color-eggplant-200: #636484;
  --color-eggplant-500: #615878;
  --color-eggplant-600: #534C6C;
  --color-eggplant-700: #5A5973;
  --color-eggplant-800: #373555;
  --color-eggplant-900: #313050;
  --color-eggplant-950: #1D1D30;

  --box-shadow-full: 0 0px 20px 0px;
  --text-shadow-sm: "0 1px 2px var(--tw-shadow-color)";
  --text-shadow-md: "0 2px 4px var(--tw-shadow-color)";
  --text-shadow-lg: "0 8px 16px var(--tw-shadow-color)";
}

:root {
  background: #313050;
  color: white;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px #1D1D30;
  background-color: #1D1D30;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #313050;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #1D1D30;
  background-color: #F5F5F5;
}

.rainbow {
  animation: colorRotate 10s linear 0s infinite;
}

body {
  background: linear-gradient(-20deg, #8b8ca8, #615878, #313050, #1D1D30 );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 60% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.bg-rainbow {
  animation: bgColorRotate 10s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

@keyframes bgColorRotate {
  from {
    background-color: #6666ff;
  }
  10% {
    background-color: #0099ff;
  }
  50% {
    background-color: #00ff00;
  }
  75% {
    background-color: #ff3399;
  }
  100% {
    background-color: #6666ff;
  }
}

@media only screen and (max-width: 767px){
  ::-webkit-scrollbar {
    display: none;
  }
}